/*********** MAIN WRAP + BODY ***********/
body {
  background-color: #393e46;
  font-family: arial, sans-serif;
  color: #eeeeee;
}
h1 {
  font-family: montserrat, sans-serif;
  display: block;
  padding: 15px;
}
.main-wrap {
  margin: auto;
  width: 70%;
  background-color: #393e46;
}
img {
  margin: 0;
  padding: 0;
}


/*********** HEADER ***********/
.header {
  background-color: #222831;
  height: 70px;
}

/*********** NAVIGATION ***********/
.nav-ul {
  text-align: center;
  float: right;
  margin: 5px 0 0 0;
}
.nav-ul li {
  display: inline-block;
  margin: 0;
}
.nav-ul a{
  text-decoration: none;
}
.nav-ul a:visited {
  color: inherit;
}
.nav-ul a:hover{
  color: red;
}
.skills-a {
  width: 90px;
}
.achievments-a {
  width: 150px;
}
.home-a {
  width: 75px;
}

/*********** CONTENT ***********/
.content {
  border: 1px dashed black;
  height: 700px;
}

/*********** FOOTER ***********/
.footer {
  background-color: #222831;
  height: 140px;
}
