body {
  background-color: #eee;
  font-family: arial;
  margin: 0;
  padding: 0;
}
a {
  color: #32e0c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/****************** HEADER ******************/

.home-header-bg {
  background-color: #222831;
  height: 400px;
}
.home-header {
  color: #eee;
  margin: 0 auto;
  padding-top: 50px;
  width: 800px;
}
.home-header hr {
  background-color: #32e0c4;
  border-style: none;
  height: 2px;
  width: 60%;
}
.home-head-p1 {
  margin: 20px auto 30px auto;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
}
.home-head-p2 {
  margin: 35px auto 10px auto;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
}
.home-head-p3 {
  font-size: 0.7em;
  font-style: italic;
  margin: 0 auto 20px auto;
  padding: 0;
  text-align: center;
}
.header-bg {
  background-color: #222831;
  height: 170px;
}
.header {
  color: #eee;
  margin: 0 auto;
  padding-top: 20px;
  width: 800px;
}
.header hr {
  background-color: #32e0c4;
  border-style: none;
  height: 2px;
  width: 40%;
}
.head-p1 {
  margin: 20px auto 0 auto;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
}


.no-style {
  font-style: normal;
}

/****************** NAVIGATION ******************/
.nav {
  background-color: black;
  color: #32e0c4;
  height: 40px;
}
.nav-ul li{
  display: inline-block;
  font-size: 0.8em;
  margin: 12px 10px 0 10px;
}
.nav-ul {
  margin:  auto;
  padding: 0;
  text-align: center;
}

/****************** MAIN CONTENT ******************/
.content {
  background-color: #eee;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
}
.job-box {
  border: solid 2px #32e0c4;
  border-radius: 15px;
  display: inline-block;
  height: 350px;
  margin: 30px 15px 0 15px;
  width: 350px;
}
.content-spacer {
  height: 700px;
}

/****************** FOOTER ******************/
.footer {
  background-color: #222831;
  color: #eee;
  padding: 20px 0 50px 0;
  text-align: center;
}
.foot-p1 {
  margin: 0 0 20px 0;
  padding: 0;
}
.foot-p2 {
  margin: 20px 0 0 0;
}
.foot-img {
  width: 50px;
  margin: 0 5px 0px 5px;
}
.detail-color {
  color: #32e0c4;
}
.ref {
  font-size: 70%;
}
.detail-color a {
  font-style: normal;
  color: inherit;
}












































h5 {
  color: red;
}
